<% include header %>
<br>
<br>
<div class="container">
    <div class="jombotron">
        <h1>Thankyou for shopping with us!</h1>
    </div>
    <h4>Product succesfully added to your orders.</h4>
    <hr>
    </div>
</div>
