<!DOCTYPE html>
<html>
  <head>
    <title> Trade It Off !!! </title>
    <meta charset="UTF-8">
    <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <style>
    body { padding-top: 100px; }
  </style>

  <body>

    <!-- navbar -->
    <nav class="navbar navbar-light bg-light navbar-expand-sm fixed-top">
      <a href="/" class="navbar-brand">Trade It Off</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-item">
            <a href="#" class="nav-link"> Orders </a>
          </li>

          <li class="navbar-item">
            <a href="/login" class="nav-link"> Login </a>
          </li>

          <li class="navbar-item">
              <a href="/signup" class="nav-link"> Sign Up </a>
          </li>

          <li class="navbar-item">
            <a href="#" class="nav-link"> Cart </a>
          </li>
        </ul>
      </div>
    </nav>