<% include header %>

<!-- <style>
    .carousel-item {
        width: 100%;
    }
</style> -->

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<div class="container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="carousel-item">
                <img class="d-block w-100" src="/images/phone-shopping-Cropped.jpg" alt="Ecommerce3">
            </div>

            <div class="carousel-item active">
                
                <img class="d-block w-100" src="/images/gadgets-Cropped.jpg" alt="Ecommerce1">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="/images/sunglasses-Cropped.jpg" alt="Ecommerce2">
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="/images/bike-Cropped.jpg" alt="Ecommerce3">
            </div>

            <!-- Sliding Buttons -->
            <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</div>

<br>
<br>
<br>

<div class="container">
    <div class="jumbotron">
        <h1> Select from a wide range of products </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <% products.forEach(function(product){ %>
            <div class="col-lg-3 col-md-3" style="padding-top: 5rem;">
                <div class="card" style="width: 18rem; height: 25rem;">
                    <img src="<%= product.img_url %>" class="card-img-top" style="height: 200px; width: auto; max-width: 300px">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.product_name %></h5>
                        <h4 class="card-text"><i class="fas fa-rupee-sign"> </i><%= product.price %></h4>
                    </div>
                    <div class="card-footer">
                        <a href="/products/<%=product.product_id%>" class="btn btn-info">More Info</a>
                    </div>
                </div>
            </div>
        <% }); %> 
    </div>
</div>


<div id="mybutton" style="position: fixed; bottom: 30px; right: 30px">
    <a class="btn" href="/newproduct">
        <i class="fas fa-plus-circle w3-xxxlarge"></i>
    </a>
</div>

<% include footer %>
<% include bootstrap-cdn %>