<% include header %>

<div class="container">
    <h1> My Products </h1>
</div>


<div class="container">
    <div class="row">
            <% products.forEach(function(product){ %>
        <div class="col-md-9">
                <div class="thumbnail">
                        <img class="img-responsive" src="<%= product.img_url %>" alt="" width="100", height="100">
                        <div class="caption-full">
                          <h4 class="pull-right"><i class="fas fa-rupee-sign"></i> <%=product.price%></h4>
                          <h4><a><%= product.product_name %></a></h4>
                          <p><%= product.description %></p>
                        </div>
                      </div>
        </div>
        <% }) %>
    </div>
</div>

<% include footer %>
<% include bootstrap-cdn %>