<% include header %>

<div class="container">
    <form action="/newproduct" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-4 form-group">
                <label for="productname"> Product Name </label>
                <input type="text" name="productname" class="form-control" id="productname">
            </div>
            <div class="col-lg-4 form-group">
                <label for="price">Price  <i class="fas fa-rupee-sign"></i></label>
                <input type="number" name="price" class="form-control" id="price">
            </div>
            <div class="col-lg-4 form-group">
                <label class="my-1 mr-2" for="category"> Category </label>
                <select name="category" class="custom-select my-1 mr-sm-2" id="category">
                    <option selected> Choose... </option>
                    <option value="furniture"> Furniture </option>
                    <option value="cars"> Car </option>
                    <option value="bike"> Bike </option>
                    <option value="electronics"> Electronics </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="productdescription">Product Description</label>
            <input name="description" class="form-control" id="productdescription">
        </div>
        <div class="custom-file">
            <input name="uploadedImage" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose Image</label>
        </div>
        <br>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</div>


<% include footer %>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>