<% include header %>

<div class="container">

    <!-- <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active"> Order 1 </a>
        <a href="#" class="list-group list-group-item-action d-flex justify-content-between align-items-center">
            Order 2
            <span class="badge badge-primary badge-pill"></span>
        </a>
    </div> -->
    <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                Order 1
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active">
                Order 2
                <span class="badge badge-primary badge-pill">3</span>
            </a>
        </div>

</div>

<% include footer %>
<% include bootstrap-cdn %>